* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
        width: 100%;
        font-family: 'Poppins', sans-serif;
}

/* ----------------------------------------------------------------
-----------------------Main Sections Style----------------------
---------------------------------------------------------------- */

.main-section {
        display: flex;
        justify-content: space-evenly;
        background: rgb(45, 37, 160);
        height: 600px;
        align-items: center;
        line-height: 80px;
        margin-bottom: 70px;
}

main h1 {
        font-size: 64px;
        font-weight: 700;
        color: #FFFFFF;
}

.btn {
        height: 44px;
        width: 168px;
        font-size: 16px;
        font-weight: 500;
        background: rgb(224, 44, 109);
        color: #FFFFFF;
        border: none;
        cursor: pointer;
}

.banner-img img {
        Width: 556.01px;
        Height: 456px;
}

/* ----------------------------------------------------------------
-----------------------Hover Transform Banner----------------------
---------------------------------------------------------------- */

.main-section:hover .banner-img {
        transform: scale(1.3) rotate(-10deg);
        transition: transform 2.5s ease-in-out;
}

/* ----------------------------------------------------------------
-----------------------Players Section Style----------------------
---------------------------------------------------------------- */

.players-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 27px;
        column-gap: 20px;
        background-color: rgb(255, 255, 255);
        width: 70%;
        margin: 0 auto;
}

.player {
        height: 456px;
        width: 330px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player-img img {
        height: 256px;
        width: 300px;
}

.player-details {
        margin-top: 16px;
}

.player-details p {
        margin-top: 10px;
}

/* ----------------------------------------------------------------
-----------------------Table Sections Style----------------------
---------------------------------------------------------------- */

.table-title {
        text-align: center;
        margin-top: 70px;
        padding-top: 50px;
        font-size: 50px;
        color: white;
}

.table-section {
        width: 95%;
        margin: 0 auto;
        margin-top: 50px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
}

.table-headline {
        color: white;
}

table {
        border-collapse: collapse;
        border-spacing: 0;
        border: 1px solid #ddd;
        border-radius: 7px;
        background-size: 100%;
        background-repeat: no-repeat;
}

.match-details {
        background-image: url('images/table-bg1.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 800px;
}

th, td {
        text-align: center;
        padding: 10px;
        margin: 5px;
        color: orangered;
        font-weight: 500;
}

tr:nth-child(even) {
        background-color: rgb(28, 28, 27);
}

.white {
        color: white;
}

/* ----------------------------------------------------------------
-----------------------Footer Sections Style----------------------
---------------------------------------------------------------- */

footer {
        margin: 158px 0 63px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
}

footer img {
        height: 110px;
        width: 483.87px;
}

.icon i {
        cursor: pointer;
        height: 32px;
        width: 32px;
}

footer p {
        font-size: 18px;
        color: #000000;
        font-weight: 400;
}