* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
        width: 100%;
        font-family: 'Poppins', sans-serif;
        padding-right: 5%;
}

body p {
        color: #6C6C6C;
        font-size: 16px;
}

/* ----------------------------------------------------------------
-----------------------Main Sections Style----------------------
---------------------------------------------------------------- */

.main-section {
        display: flex;
        justify-content: space-evenly;
        background: rgb(45, 37, 160);
        height: 600px;
        width: 100%;
        margin: 0 auto;
        align-items: center;
        line-height: 80px;
        margin-bottom: 70px;
}

main h1 {
        font-size: 64px;
        font-weight: 700;
        color: #FFFFFF;
}

.btn {
        height: 44px;
        width: 168px;
        font-size: 16px;
        font-weight: 500;
        background: rgb(224, 44, 109);
        color: #FFFFFF;
        border: none;
        cursor: pointer;
}

.banner-img img {
        Width: 556.01px;
        Height: 456px;
}

/* ----------------------------------------------------------------
-----------------------Hover Transform Banner----------------------
---------------------------------------------------------------- */

.main-section:hover .banner-img {
        transform: scale(-1);
        transition: transform 2.5s ease-in-out;
}

/* ----------------------------------------------------------------
-----------------------Players Section Style----------------------
---------------------------------------------------------------- */

.players-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 27px;
        column-gap: 20px;
        background-color: rgb(255, 255, 255);
        width: 70%;
        margin: 0 auto;
        margin-bottom: 50px;
}

.player {
        height: 456px;
        width: 330px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player-img img {
        height: 256px;
        width: 300px;
}

.player-details {
        margin-top: 16px;
}

.player-details p {
        margin-top: 10px;
}

/* ----------------------------------------------------------------
-----------------------Table Sections Style----------------------
---------------------------------------------------------------- */

.section-title {
        text-align: center;
        padding-top: 50px;
        font-size: 50px;
        color: orangered;
}

.table-section {
        width: 95%;
        margin: 0 auto;
        margin-top: 40px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
}

.table-headline {
        color: white;
}

table {
        border-collapse: collapse;
        border-spacing: 0;
        border: 1px solid #ddd;
        border-radius: 7px;
        background-size: 100%;
        background-repeat: no-repeat;
}

.match-details {
        background-image: url('images/table-bg1.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 750px;
}

th, td {
        text-align: center;
        padding: 10px;
        margin: 5px;
        color: orangered;
        font-weight: 500;
}

tr:nth-child(even) {
        background-color: rgb(28, 28, 27);
}

.white {
        color: white;
}

/* ----------------------------------------------------------------
-----------------------Highlights Sections Style----------------------
---------------------------------------------------------------- */

.highLights {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

.highLights h1, .highlight-p {
        text-align: center;
}

/* ----------------------------------------------------------------
-----------------------Footer Sections Style----------------------
---------------------------------------------------------------- */

footer {
        width: 100%;
        margin: 158px 0 63px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
}

footer img {
        height: 110px;
        width: 483.87px;
}

.icon i {
        cursor: pointer;
        height: 32px;
        width: 32px;
}

footer p {
        font-size: 18px;
        font-weight: 400;
}

/* ----------------------------------------------------------------
--------------------Media Query Style For Mobile-------------------
------------------------------------------------------------------- */

@media only screen and (max-width: 688px) {
        .main-section {
                display: block;
                height: 1000px;
                padding: 5%;
        }
        .banner-img img {
                width: 90%;
        }
        .players-section {
                margin-left: 2%;
                grid-template-columns: repeat(1, 1fr);
                column-gap: 25px;
        }
        .match-details {
                height: 1800px;
        }
        .table-section .match-time-table {
                flex-direction: column;
                flex-wrap: wrap;
        }
        .score-table {
                margin-top: 80px;
        }
        .score-part {
                display: flex;
                justify-content: center;
        }
        iframe {
                width: 300px;
                height: 200px;
        }
        footer img {
                width: 100%;
        }
}

/* ----------------------------------------------------------------
--------------------Media Query Style For Tab-------------------
------------------------------------------------------------------- */

@media only screen and (min-width: 688px) and (max-width: 992px) {
        body {
                width: 100%;
        }
        .main-section {
                display: block;
                padding: 5%;
                flex-direction: column;
                height: 1000px;
        }
        .main-section h1 {
                font-size: 30px;
        }
        .banner-img img {
                width: 100%;
        }
        .players-section {
                display: grid;
                grid-template-columns: repeat(2, 0.7fr);
        }
        .match-details {
                height: 1300px;
        }
        .table-section .match-time-table {
                flex-direction: column;
                flex-wrap: wrap;
        }
        .score-table {
                margin-top: 80px;
        }
        .score-part {
                display: flex;
                justify-content: center;
        }
}